{{!--
<div class="pure-u-1">
  <h1>Level history &amp; estimates</h1>

  <div class="note">
    All times are in UTC. Data for <span class="estimate">{{ userLevel }}-level and below</span> are
    estimated based on your average time per level, よ.
  </div>

  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Level</th>
        <th>Unlocked at</th>
        <th>Took time to complete</th>
      </tr>
    </thead>
    <tbody>
    {{#history this}}
    <td><input type="checkbox">
      <td>{{ @level }}</td>
      <td>{{ datetime date }}</td>
      <td>{{ timeInterval took  }}</td>
    {{/history}}
    </tbody>
  </table>
</div>
--}}

<div class="pure-u-1-2 l-box">
  <h1>Level history</h1>

  <div class="note">
    All times are in UTC. Estimates are calculated based on average time of
    selected levels.
  </div>

  <table class="pure-table pure-u-1 pure-table-history">
    <thead>
      <tr>
        <th>Level</th>
        <th class="performance">Performance</th>
      </tr>
    </thead>

    <tbody>
      {{#history this}}
      <td>
        <form class="pure-form pure-form-aligned">
          <label class="pure-checkbox">
            <input type="checkbox" checked> {{ @level }}
          </label>
        </form>
      </td>
      <td>
        <div class="info">
          Took <strong>{{ timeInterval took }}</strong>. Unlocked at {{ datetime date }}
        </div>
        <div class="progress" style="width:{{ tookPercentage }}%"></div>
      </td>
      {{/history}}
    </tbody>
  </table>
</div>

<div class="pure-u-1-2 l-box">
  <h1>Estimates</h1>
</div>
